.border-radius {
    border-radius: 50rem;
}

.center-title {
    margin-bottom: 10vw;
}

.img-size {
    height: 50vw;
}

.img-size2 {
    height: 20vw;
}

.bg-color {
    background: lightblue;
}

.stat-colors {
    color: black;
    font-weight: 500;
}
